# Create your own copy of this and modify all of the values to your requirements 
instancename=electric-jenkins-1
zone=europe-west1-d

# LDAP Stuff. Obviously *don't* check this file in!!!!!
export server=ldaps://
export userSearchBase='###My User Search Base###'
export userSearch='uid={0}'
export groupSearchBase='###My Group Search Base###'
export managerDN='uid=###MyUserName###,ou=Users,o=###My Org Name###,dc=###My Domain###,dc=com'
export managerPassword='###My Manager Password###'
